@import 'tailwindcss';
@import './color-system.css';
@import './typography.css';

@theme {
  --frame-width: 402px;
}

@layer base {
  html {
    scrollbar-gutter: stable;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    background-color: var(--color-white);
    color: var(--color-black);
  }
}

@layer components {
  #loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid;
    border-color: var(--color-black) var(--color-pale-green);
    animation: l1 1s infinite;
  }
  @keyframes l1 {
    to {
      transform: rotate(0.5turn);
    }
  }
}

@layer utilities {
  .custom-break-words {
    word-break: break-all;
    overflow-wrap: break-word;
  }

  .fixed-component {
    position: fixed;
    margin: 0 auto;
    width: 100%;
    z-index: 900;
    max-width: var(--frame-width);
  }
  .fixed-component.no-z-index {
    z-index: 0;
  }
  .fixed-component.max-z-index {
    z-index: 999;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .scroll-x-area {
    overflow-x: auto;
    overscroll-behavior-x: contain;
    -webkit-overflow-scrolling: touch;
  }
}
