@theme {
  --text-headline-01: 2rem;
  --text-headline-01--line-height: 150%;
  --text-headline-01--letter-spacing: -0.1%;
  --text-headline-01--font-weight: 700;

  --text-headline-02: 1.75rem;
  --text-headline-02--line-height: 145%;
  --text-headline-02--letter-spacing: -0.1%;
  --text-headline-02--font-weight: 700;

  --text-headline-03: 1.5rem;
  --text-headline-03--line-height: 150%;
  --text-headline-03--letter-spacing: -0.1%;
  --text-headline-03--font-weight: 700;

  --text-headline-04: 1.5rem;
  --text-headline-04--line-height: 150%;
  --text-headline-04--letter-spacing: -0.1%;
  --text-headline-04--font-weight: 500;

  --text-headline-05: 1.25rem;
  --text-headline-05--line-height: 150%;
  --text-headline-05--letter-spacing: -0.1%;
  --text-headline-05--font-weight: 700;

  --text-headline-06: 1.25rem;
  --text-headline-06--line-height: 150%;
  --text-headline-06--letter-spacing: -0.1%;
  --text-headline-06--font-weight: 500;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --text-subhead: 1.125rem;
  --text-subhead--line-height: 150%;
  --text-subhead--letter-spacing: -0.1%;

  --text-body-01: 1rem;
  --text-body-01--line-height: 150%;
  --text-body-01--letter-spacing: -0.1%;

  --text-body-02: 0.875rem;
  --text-body-02--line-height: 150%;
  --text-body-02--letter-spacing: -0.1%;

  --text-caption-01: 0.75rem;
  --text-caption-01--line-height: 150%;
  --text-caption-01--letter-spacing: -0.1%;

  --text-caption-02: 0.625rem;
  --text-caption-02--line-height: 150%;
  --text-caption-02--letter-spacing: -0.1%;
}
